<app-navbar></app-navbar>
<div id="content">
    <section class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1 class="fw-bold text-light mb-4">Gestión de Clientes</h1>
            <div class="col-12">
                <h3 class="fw-semibold mb-3">Lista de Clientes</h3>
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>DNI</th>
                                <th>Teléfono</th>
                                <th class="text-center">Eliminar</th>
                                <th class="text-center">Actualizar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td class="text-uppercase">{{ cliente.nombre }}</td>
                                <td>{{ cliente.correo }}</td>
                                <td>{{ cliente.dni }}</td>
                                <td>{{ cliente.telefono }}</td>
                                <td class="text-center">
                                    <button (click)="eliminarCliente(cliente._id)"
                                        class="btn btn-danger">Eliminar</button>
                                </td>
                                <td class="text-center">
                                    <button [routerLink]="['/updateCliente', cliente._id]"
                                        class="btn btn-primary">Actualizar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-lg btn-warning mt-4" routerLink="/addCliente">Añadir</a>
            </div>
        </div>
    </section>
</div>
<app-footer />