<app-navbar></app-navbar>
<div id="content">
    <section class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <h1 class="fw-bold text-light mb-4">Gestión de Clientes</h1>
            <div class="col-12">
                <h3 class="fw-semibold mb-3">Agregar Cliente</h3>
            </div>
            <div class="col-12 col-md-10">
                <div class="card-body text-light">
                    <form [formGroup]="addClienteForm" (ngSubmit)="addCliente()">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" id="nombre" formControlName="nombre" placeholder="Name Example"
                                title="Por favor ingrese su nombre" class="form-control" />
                            <div *ngIf="addClienteForm.get('nombre')?.hasError('required') && addClienteForm.get('nombre')?.touched"
                                class="text-danger mt-1">
                                <span>El nombre <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addClienteForm.get('nombre')?.hasError('required') && addClienteForm.get('nombre')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" id="correo" formControlName="correo" placeholder="example@gmail.com"
                                title="Por favor ingrese su correo" class="form-control" />
                            <div *ngIf="addClienteForm.get('correo')?.hasError('required') && addClienteForm.get('correo')?.touched"
                                class="text-danger mt-1">
                                <span>El correo <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addClienteForm.get('correo')?.hasError('required') && addClienteForm.get('correo')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="dni" class="form-label">DNI</label>
                            <input type="number" id="dni" formControlName="dni" placeholder="99999999"
                                title="Por favor ingrese su dni" class="form-control" />
                            <div *ngIf="addClienteForm.get('dni')?.hasError('required') && addClienteForm.get('dni')?.touched"
                                class="text-danger mt-1">
                                <span>El DNI <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addClienteForm.get('dni')?.hasError('required') && addClienteForm.get('dni')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <input type="number" id="telefono" formControlName="telefono" placeholder="999999999"
                                title="Por favor ingrese su telefono" class="form-control" />
                            <div *ngIf="addClienteForm.get('telefono')?.hasError('required') && addClienteForm.get('telefono')?.touched"
                                class="text-danger mt-1">
                                <span>El telefono <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!addClienteForm.get('telefono')?.hasError('required') && addClienteForm.get('telefono')?.touched"
                                class="mt-1">
                                <span class="text-muted"></span>
                            </div>
                        </div>

                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                        </div>

                        <div class="d-flex justify-content-start">
                            <button class="btn btn-warning" type="submit"
                                [disabled]="addClienteForm.invalid">Añadir</button>
                            <a class="btn btn-secondary ms-3" href="/clientes">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<app-footer />