   <!-- Main content-->
   <section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <i class="pe page-header-icon pe-7s-unlock"></i>
                    <h3 class="mt-2">Login</h3>
                    <small>Por favor ingrese sus credenciales para ingresar.</small>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo</label>
                            <input type="email" id="correo" formControlName="correo" placeholder="Delfin04" title="Por favor ingrese su correo" class="form-control" />
                            <div *ngIf="loginForm.get('correo')?.hasError('required') && loginForm.get('correo')?.touched" class="text-danger mt-1">
                                <span>El correo <strong>es obligatorio</strong></span>
                            </div>
                            <div *ngIf="!loginForm.get('correo')?.hasError('required') && loginForm.get('correo')?.touched" class="mt-1">
                                <span class="text-muted">Ingrese su correo</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="contraseña" class="form-label">Contraseña</label>
                            <input type="password" id="contraseña" formControlName="contraseña" placeholder="******" title="Por favor ingrese su contrasela" class="form-control" />
                            <div *ngIf="loginForm.get('contraseña')?.hasError('required') && loginForm.get('contraseña')?.touched" class="text-danger mt-1">
                                <span>La contraseña <strong>es obligatoria</strong></span>
                            </div>
                            <div *ngIf="!loginForm.get('contraseña')?.hasError('required') && loginForm.get('contraseña')?.touched" class="mt-1">
                                <span class="text-muted">Ingrese su contraseña</span>
                            </div>
                        </div>

                        <div *ngIf="errorMessage" class="alert alert-danger">
                            {{ errorMessage }}
                          </div>

                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
                            <a class="btn btn-secondary" routerLink="/crear-usuario">Nuevo Usuario</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>