<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="isActive('/home')" href="/home">Home</a>
        <a class="nav-link" [class.active]="isActive('/meseros') || isActive('/addMesero') || isActive('/updateMesero')"
          href="/meseros">Meseros</a>
        <a class="nav-link" [class.active]="isActive('/clientes') || isActive('/addCliente') || isActive('/updateCliente')"
          href="/clientes">Clientes</a>
        <a class="nav-link" [class.active]="isActive('/categorias') || isActive('/addCategoria') || isActive('/updateCategoria')"
          href="/categorias">Categorías</a>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>