/* Global styles */
:root {
    --primary-dark: #1E3A8A;
    --primary-light: #3B82F6;
    --accent: #FACC15;
    --text-dark: #1F2937;
    --text-light: #F9FAFB;
    --bg-light: #F9FAFB;
    --bg-dark: #343a40;
    --gray-light: #E5E7EB;
}

/* Hero Section */
.hero {
    background: url('../public/banner.jpg') no-repeat center center/cover;
    color: var(--text-light);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.25rem;
}

/* Info List */
.info ul {
    list-style: none;
    padding: 0;
}

.info ul li::before {
    content: "🍴";
    margin-right: 10px;
}

/* Footer */
footer {
    background: var(--bg-dark);
    color: var(--text-light);
    padding: 20px 0;
    text-align: center;
}

.footer-links a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--primary-light);
}

/* Table Section */
.table-container {
    overflow-x: auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-light);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-weight: 600;
    text-align: left;
    padding: 0.75rem;
    background-color: var(--bg-dark);
    color: var(--text-light);
}

.table td {
    padding: 0.75rem;
    border-top: 1px solid var(--gray-light);
    color: var(--text-dark);
}

.table tbody tr:hover {
    background-color: var(--gray-light);
}

/* Status Indicator
.status-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--gray-light);
}
     */

.status-dot.active {
    color: green;
}

.status-dot.inactive {
    color: #E11D48;
}